{% extends 'baseb.html.twig' %}


{% block body %}
    <a href="#" onclick="history.back();" class="btn">
        <i class="fas fa-arrow-left"></i>
        <span class="sr-only">Retour</span>
    </a>
    <style>
        .card-img-top:hover {
            transform: scale(1.1);
            transition: transform 0.3s ease-in-out;
        }
    </style>


    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-4">
                <div class="card text-black">
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-4">
        <div class="card text-black">

          <img src="{{asset('/images/' ~ product.brochureFilename)}}"
            class="card-img-top" alt="Apple Computer"  />
          <div class="card-body">
            <div class="text-center">
              <h5 class="card-title">{{product.name}}</h5>
              <p class="text-muted mb-4">{{product.description}}</p>
            </div>
            <div>
              <div class="d-flex justify-content-between">
                <span>Category</span><span>{{product.category.name}}</span>
              </div>
            </div>
            <div class="d-flex justify-content-between total font-weight-bold mt-4">
              <span>Price</span><span>{{product.price}} Dhs</span>
            </div>
        </div>
    </div>
    </section>
{% endblock %}