{% extends 'base.html.twig' %}
{% block title %}Ajouter Produit{% endblock %}
{% block body %}
<a href="#" onclick="history.back();" class="btn">
    <i class="fas fa-arrow-left"></i>
    <span class="sr-only">Retour</span>
</a>

<div class="card" style="width: 800px; margin-left: 400px;">
    <div class="card-header" style="background-color: #f8f9fa; font-weight: bold; text-align: center;">
        Product Information
    </div>
    <div class="card-body">
        {{ form_start(form) }}

        <div class="form-group">
            <label class="form-label" style="font-weight: bold;">{{ form_label(form.name) }}</label>
            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
            <div style="color: red;">{{ form_errors(form.name) }}</div>
        </div>

        <div class="form-group">
            <label class="form-label" style="font-weight: bold;">{{ form_label(form.price) }}</label>
            {{ form_widget(form.price, {'attr': {'class': 'form-control'}}) }}
            <div style="color: red;">{{ form_errors(form.price) }}</div>
        </div>

        <div class="form-group">
            <label class="form-label" style="font-weight: bold;">{{ form_label(form.description) }}</label>
            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
            <div style="color: red;">{{ form_errors(form.description) }}</div>
        </div>

        <div class="form-group">
            <label class="form-label" style="font-weight: bold;">{{ form_label(form.brochure) }}</label>
            {{ form_widget(form.brochure, {'attr': {'class': 'form-control'}}) }}
            <div style="color: red;">{{ form_errors(form.brochure) }}</div>
        </div>

        <div class="form-group">
            <label class="form-label" style="font-weight: bold;">{{ form_label(form.category) }}</label>
            {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
            <div style="color: red;">{{ form_errors(form.category) }}</div>
        </div>

        <div class="form-group" style="margin-top: 20px;">
            {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
        </div>

        {{ form_end(form) }}
    </div>
</div>



{% endblock %}