<nav class="navbar navbar-expand-sm navbar-primary bg-info" style="box-shadow: 0px 2px 5px rgba(0,0,0,0.5)">

    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/js/bootstrap.bundle.min.js"></script>
        <script>
            function login() {
                window.location.href = "{{ path('security.logout') }}";
            }
            function SignUP(){
                window.location.href="{{ path('security.registration') }}";
            }
        </script>
    </head>
    <div class="container d-flex">

        <a href="{{ path('app_productb') }}" class="navbar-brand mr-auto p-2">LSI-COMMERCE</a>
        <button class="navbar-toggler" type="button" datatoggle="collapse" data-target="#mobile-nav">
            <span class="navbar-toggle-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-end" id="mobile-nav">
            <ul class="navbar-nav ml-auto">
                
                <li class="nav-item">
                    <a href="{{ path('app_cart') }}" class="nav-link">
                        <i class="fas fa-shopping-cart"></i>
                        <sup style="display: inline-block; padding: 0.25em; border-radius: 50%; background-color: white; color: black; width: 15px; height: 15px; font-size: 0.8em; line-height: 0.6; vertical-align: middle; margin-left: -0.5em;">{{ cart_count }}</sup>
                    </a>
                </li>
                <div>
                    <button type="button" class="btn btn-primary" onclick="SignUP()">SignUP</button>
                    <button type="button" class="btn btn-primary" onclick="login()">LogIN</button>
                </div>

            </ul>
        </div>
    </div>
</nav>